@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: mont;
}

@font-face {
  src: url(../fonts/phanthom.otf);
  font-family: phan;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #02000c;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  width: 1920px;
  max-height: 100%;
  margin: 0 auto;
}

.fade_in {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.apear {
  opacity: 1;
  -webkit-columns: black;
          columns: black;
}

.nav-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #0f0f0f;
  z-index: 3;
}

nav {
  width: 90%;
  height: 80px;
  padding: 10px 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

nav ul li {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav ul li a {
  color: whitesmoke;
  font-family: phan;
  font-size: 25px;
  margin: 0 30px;
}

nav ul li a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #00ccff;
  font-size: 30px;
  padding-bottom: 2px;
  border-bottom: 5px solid #02b9e7;
}

nav #nav-helper {
  cursor: default;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  color: rgba(173, 216, 230, 0);
}

nav #logo {
  width: 80px;
  height: 80px;
}

.start {
  background: -webkit-gradient(linear, left top, left bottom, from(#02000c), to(#040017));
  background: linear-gradient(to bottom, #02000c, #040017);
  background-image: url(../Img/start_back.png);
  background-attachment: fixed;
  height: 800px;
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 4fr 1fr;
      grid-template-areas: ". box1 box2 .";
  -webkit-animation: startanimate 0.5s ease-in-out infinite;
          animation: startanimate 0.5s ease-in-out infinite;
}

.start .start-photo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  width: 100%;
      justify-self: center;
}

.start .start-photo img {
  width: 690px;
  height: 800px;
}

.start .start-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box2;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: middle;
      align-content: middle;
      grid-template-columns: 1fr;
      grid-template-areas: "box1";
}

.start .start-text h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  font-family: mont;
  color: rgba(245, 245, 245, 0);
  text-align: center;
  font-size: 80px;
  line-height: 650px;
  -webkit-animation: Titelanimation 1s ease 1s 1 forwards;
          animation: Titelanimation 1s ease 1s 1 forwards;
}

.start .start-text p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  font-family: mont;
  color: rgba(245, 245, 245, 0);
  text-align: center;
  font-size: 40px;
  line-height: 800px;
  -webkit-animation: Titelanimation2 2s ease 1.5s 1 forwards;
          animation: Titelanimation2 2s ease 1.5s 1 forwards;
}

@-webkit-keyframes startanimate {
  0% {
    background-image: url(../Img/start_back.png);
  }
  50% {
    background-image: url(../Img/start_flip.png);
  }
  100% {
    background-image: url(../Img/start_back.png);
  }
}

@keyframes startanimate {
  0% {
    background-image: url(../Img/start_back.png);
  }
  50% {
    background-image: url(../Img/start_flip.png);
  }
  100% {
    background-image: url(../Img/start_back.png);
  }
}

@-webkit-keyframes Titelanimation {
  from {
    color: rgba(245, 245, 245, 0);
  }
  to {
    color: #76bdff;
  }
}

@keyframes Titelanimation {
  from {
    color: rgba(245, 245, 245, 0);
  }
  to {
    color: #76bdff;
  }
}

@-webkit-keyframes Titelanimation2 {
  from {
    color: rgba(245, 245, 245, 0);
  }
  to {
    color: #fbfbfb;
  }
}

@keyframes Titelanimation2 {
  from {
    color: rgba(245, 245, 245, 0);
  }
  to {
    color: #fbfbfb;
  }
}

.intro-right {
  position: relative;
  height: 800px;
  background: #121212;
  background-size: cover;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
      grid-template-areas: ". contentbox";
  overflow: hidden;
}

.intro-right img {
  position: absoulute;
  z-index: 2;
  -webkit-box-shadow: 10px 0px 1px -15px #0091b5;
          box-shadow: 10px 0px 1px -15px #0091b5;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.intro-right img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 2px 3px 40px 0px #0091b5;
          box-shadow: 2px 3px 40px 0px #0091b5;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.intro-right .content-right {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contentbox;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 100px;
  height: 600px;
  -webkit-box-shadow: 0px 0px 15px #0091b5;
          box-shadow: 0px 0px 15px #0091b5;
  background: #0e0e0e;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-columns: 150px 2fr;
      grid-template-areas: ". box1" ". box2";
}

.intro-right .content-right:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0px 0px 30px #0091b5;
          box-shadow: 0px 0px 30px #0091b5;
}

.intro-right .content-right h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  font-family: phan;
  font-size: 50px;
  color: whitesmoke;
}

.intro-right .content-right p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box2;
      justify-self: center;
  font-size: 25px;
  font-family: mont;
  color: whitesmoke;
  text-align: center;
  width: 500px;
  padding-bottom: 150px;
}

.intro-left {
  height: 800px;
  max-width: 100%;
  background: whitesmoke;
  background-attachment: fixed;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
      grid-template-areas: "contentbox .";
  overflow: hidden;
}

.intro-left img {
  position: absoulute;
  z-index: 2;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: -10px 0px 1px -15px #0091b5;
          box-shadow: -10px 0px 1px -15px #0091b5;
}

.intro-left img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 2px 3px 40px 0px #0091b5;
          box-shadow: 2px 3px 40px 0px #0091b5;
  -webkit-transform: translateX(-225px);
          transform: translateX(-225px);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.intro-left .content-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contentbox;
  margin-top: 100px;
  height: 600px;
  background: rgba(14, 14, 14, 0.9);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2fr 150px;
      grid-template-columns: 2fr 150px;
      grid-template-areas: "box1 ." "box2 .";
  -webkit-box-shadow: 0px 0px 15px #0091b5;
          box-shadow: 0px 0px 15px #0091b5;
}

.intro-left .content-left h1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  text-align: center;
  font-family: phan;
  font-size: 50px;
  color: whitesmoke;
}

.intro-left .content-left p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box2;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 25px;
  font-family: mont;
  color: whitesmoke;
  text-align: center;
  width: 500px;
  padding-bottom: 150px;
}

.intro-left .content-left .content-box {
  justify-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box2;
  height: 250px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro-left .content-left .content-box img {
  cursor: pointer;
}

.intro-left .content-left:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0px 0px 30px #0091b5;
          box-shadow: 0px 0px 30px #0091b5;
}

.background-left {
  background-image: url(../Img/1.png);
}

.background-left2 {
  background-image: url(../Img/2.png);
}

.footer {
  height: 90px;
  background: #0f0f0f;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  vertical-align: middle;
}

.footer .footer-left img {
  margin-left: 2rem;
  padding-right: 10px;
  width: 100px;
  border-right: #02b9e7 5px double;
}

.footer .footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-middle .footer-btn {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 40px;
  background-color: #02b9e7;
  text-align: center;
  line-height: 40px;
  font-family: mont;
  font-size: 20px;
  font-weight: bolder;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: none;
}

.footer .footer-middle .footer-btn a {
  color: #0f0f0f;
}

.footer .footer-middle .footer-btn:hover {
  background-color: #7ee5ff;
}

.footer .footer-middle .footer-btn:hover a {
  color: #b8f1ff;
}

.footer .footer-middle .footer-btn:focus {
  outline: none;
}

.footer .footer-middle .footer-btn:active {
  background: #0f0f0f;
  border: 2px solid #02b9e7;
  line-height: 38px;
  color: #e2f1ff;
}

.footer .footer-right p {
  font-family: phan;
  font-size: 40px;
  line-height: 90px;
  text-align: center;
  color: #0091b581;
}

.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.808);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-transition: 100000s ease-in;
  transition: 100000s ease-in;
}

.modal-back .modal {
  background: #0f0f0f;
  width: 40%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px #0091b5;
          box-shadow: 0px 0px 15px #0091b5;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: mont;
}

.modal-back .modal p {
  color: whitesmoke;
  width: 90%;
}

.modal-back .modal h2 {
  font-family: phan;
  color: whitesmoke;
  font-size: 5rem;
}

.modal-back .modal img {
  width: 95%;
}

.modal-back .modal .icon {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 150px;
  height: 150px;
}

.modal-activate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close-btn {
  cursor: pointer;
  font-size: 100px;
  background: none;
  width: 100px;
  color: #02b9e7;
  border: none;
}

.close-btn:focus {
  outline: none;
}

.close-btn:active {
  background: #0f0f0f;
  color: #e2f1ff;
}
/*# sourceMappingURL=style.css.map */